@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    /*seleciona o elemento raiz do documento*/
    --bg-gray: #E8E8E8;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --withe: #fff;
}

* {
    box-sizing: border-box;
    /* para que a borda dos elementos não ocupe área */
    font-family: 'Opens Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    /* background-color: #E8E8E8; */
    background-color: var(--bg-gray);
}

header {
    background-color: var(--color-primary);
    color: var(--withe);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    /*alinhar os "filhos" um elemento*/
    align-items: center;
    justify-content: space-between;
    /*space-between -> um item no começo e o outro no fim*/
}

nav h1 {
    font-size: 24px; /*tamanho da fonte*/
    font-weight: 700;
    height: center;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a,
a:hover {
    /*a:hover -> quando passar o mouse em cima*/
    text-decoration: none;
    color: unset;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list {
    padding: 40px 0;
}

.dsmovie-card {
    width: 100%; 
}

.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description{
    background-color: var(--withe);
    padding: 10px 20px 20px 20px; /*topo, direita, em baixo, ezquerda*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}

.dsmovie-card-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--withe);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}