@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/*seleciona o elemento raiz do documento*/
:root {
    --bg-gray: #E8E8E8;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --withe: #fff;
    --red: #ff2401;
    --text-ligth-gray: #aaa;
    --star-yellow: #ffbb3a;
}

* {
    /* para que a borda dos elementos não ocupe área */
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    /* background-color: #E8E8E8; */
    background-color: var(--bg-gray);
}

header {
    background-color: var(--color-primary);
    color: var(--withe);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    /*alinhar os "filhos" um elemento*/
    display: flex;
    align-items: center;
    /*space-between -> um item no começo e o outro no fim*/
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    /*tamanho da fonte*/
    font-weight: 700;
    height: center;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a,
/*a:hover -> quando passar o mouse em cima*/
a:hover {
    text-decoration: none;
    color: unset;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;

}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list {
    padding: 40px 10px;
}

.dsmovie-card {
    width: 100%;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
    background-color: var(--withe);
    /*topo, direita, em baixo, ezquerda*/
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    min-height: 190px;
}

.dsmovie-card-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.dsmovie-btn,
.dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--withe);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dsmovie-form-container {
    padding: 40px 0;
    /*largura máxima*/
    max-width: 400px;
}

.dsmovie-btn-form,
.dsmovie-btn-forms:hover {
    width: 180px;
    height: 40px;
    background-color: var(--red);
    color: var(--withe);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dsmovie-form-btn-save, .dsmovie-form-btn-save:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--withe);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-description {
    background-color: var(--withe);
    padding: 20px;
    display: flex;
    /*coloca os elementos na vertical*/
    flex-direction: column;
    /*alinha verticalmente no centro*/
    align-items: center;
    border-radius: 0 0 8px 8px;

}

.dsmovie-card-descreption-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-descreption-bottom img{ 
    width: 22px;
}

.dsmovie-form-description h3{
    font-size: 13px;
    font-weight: 700;
    margin: 20px;
}

.dsmovie-card-descreption-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-descreption-bottom p{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color:var(--text-ligth-gray)
}

.dsmovie-form {
    width: 100%;
}

.dsmovie-form-group{
    margin-bottom: 20px;
}
.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-ligth-gray);
}

.dsmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}